environment:
  matrix:
  - nodejs_version: "6.0"
  - nodejs_version: "4.0"

platform:
  - x86
  - x64

matrix:
  fast_finish: true

install:
  - ps: Update-NodeJsInstallation (Get-NodeJsLatestBuild $env:nodejs_version) $env:Platform

test_script:
  - node --version
  - npm --version
  - mkdir tmp
  - cd tmp
  - npm init --yes
  - npm install ..\installers\npm --no-spin
  - node_modules\.bin\elm-make --help
  - node_modules\.bin\elm-repl --help
  - node_modules\.bin\elm-package install --help
  - node_modules\.bin\elm-reactor --help
  - node_modules\.bin\elm make --help
  - node_modules\.bin\elm repl --help
  - node_modules\.bin\elm package install --help
  - node_modules\.bin\elm reactor --help
  - npm remove elm
  - npm install -g ..\installers\npm --no-spin
  - elm-make --help
  - elm-repl --help
  - elm-package install --help
  - elm-reactor --help
  - elm make --help
  - elm repl --help
  - elm package install --help
  - elm reactor --help

build: off
